body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #d4d4d4;
    transition: background-color 0.3s ease;
  }
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    color: #353F46;
  }
  
  header h1 {
    margin: 0;
  }
  
  header button {
    background: #0F6DA3;
    border: 1px solid white;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 18px;
    border-radius: 5px;
  }
  
  /* Container for the lists */
  .list-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
  }
  
  .list-card {
    background: white;
    border-radius: 8px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    width: 25%;
    margin: 10px 20px;
    padding: 20px;
  }
  
  .list-card h2 {
    margin-top: 0;
  }
  
  input[type="text"] {
    padding: 10px;
    font-size: 16px;
    margin-right: 10px;
  }
  
  button {
    padding: 10px 15px;
    font-size: 16px;
    background-color: #0F6DA3;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #093F5F;
  }
  
  input[type="text"]:focus {
    outline: none;
    border: 1px solid #3498db;
  }
  
  /* Styling for the middle section (create new list) */
  .centered-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    padding: 10px;
  }
  
  .centered-container input,
  .centered-container button {
    margin-right: 10px;
  }

  .title-Btn {
    border-radius: 10px;
    background-color: #D36013;
  }

  .title-input {
    height: 30px;
    width: 30%;
    border-radius: 10px;
  }
  
  /* Make the goal list responsive */
  @media (max-width: 768px) {
    .list-card {
      width: 48%;
    }
  }
  
  @media (max-width: 480px) {
    .list-card {
      width: 100%;
    }
  }
  